<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Terms &amp; Conditions</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <strong>Privacy &amp; Policy</strong> <p>
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                </p> <p>
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy,.
                </p> <p>
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                </p> <div>
                  <p>
                    privacy policy, privacy policy, privacy policy, 
                    privacy policy, privacy policy, privacy policy, 
                    privacy policy, privacy policy, privacy policy, 
                    privacy policy, privacy policy, privacy policy, 
                    privacy policy, privacy policy, privacy policy, 
                    privacy policy, privacy policy, privacy policy, 
                </p> <p></p> <p>
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                </p> <p>
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                </p> <p>
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                </p> <p>
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                </p> <p><strong>Changes to This privacy policy,</strong></p> <p>
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                  privacy policy, privacy policy, privacy policy, 
                </p> <p>
                  These privacy policy, are effective as of YYYY-MM-DD
                </p> <p><strong>Contact Us</strong></p> <p>
                  If you have any questions or suggestions about our
                  privacy policy,, do not hesitate to contact us
                  at info.mohithit@gmail.com
                </p> <p>
                  This privacy policy, page was generated by
                  <!-- <a href="" target="_blank">App Privacy Policy Generator</a></p> -->
              </div>
        </body>
    </html>
      