<div class="app-content content">
    <div class="content-wrapper">
        <!-- Header -->
        <div class="content-header row mb-1">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
            <div class="content-header-left col-md-5 col-sm-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">All Features And Permissions</h3>
            </div>
            <div class="content-header-right col-md-7 col-sm-12">
                <div class="d-flex align-content-center float-md-right" ngbDropdown>
                    <ng-select [items]="AllFeaturesAndPermissions" [multiple]="true" bindLabel="label" bindValue="id"
                        placeholder="Select Features" [(ngModel)]="selectedFeaturesForFilter"
                        (change)="filterFeatures()">
                    </ng-select>
                    <button class="btn btn-outline-primary icon-adjust ml-2" (click)="AddFeature(AddFeatureContent)">
                        <i class="la la-plus"></i>Add New Feature
                    </button>
                </div>
            </div>
        </div>
        <!-- End of Header -->

        <div class="content-body">
            <section id="content-types">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12">
                        <ng-container *ngFor="let feature of featuresAndPermissions;let i=index">
                            <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                                <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                    <ng-container mCardHeaderTitle>
                                        Feature {{i+1}}: {{feature.label}}
                                        <button class="btn btn-outline-primary icon-adjust ml-2 mr-1"
                                            (click)="editFeatureModelOpen(EditFeatureContent,feature)">
                                            <i class="la la-pencil"></i>Edit Feature
                                        </button>
                                        <button class="btn btn-outline-primary icon-adjust mr-1"
                                            (click)="AddNewPermissions(AddNewPermissionsContent, feature)">
                                            <i class="la la-plus"></i>Add New Permission
                                        </button>
                                        <button class="btn btn-outline-danger icon-adjust"
                                            (click)="deleteFeature(feature)">
                                            <i class="la la-trash"></i>Delete Feature
                                        </button>
                                    </ng-container>
                                    <ng-container mCardContent>
                                        <div class="card-body">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Permission Code</th>
                                                            <th>Permission Name</th>
                                                            <th>Permission Label</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let permission of feature.permissions">
                                                            <td>{{permission.code}}</td>
                                                            <td>{{permission.name}}</td>
                                                            <td>{{permission.label}}</td>
                                                            <td>
                                                                <button type="submit" class="btn btn-primary mr-1"
                                                                    (click)="editPermissionModelOpen(EditPermisssionContent,feature,permission)">
                                                                    <i class="la la-pencil"></i> Edit
                                                                </button>
                                                                <button type="submit"
                                                                    class="btn btn-outline-danger mr-1"
                                                                    (click)="deletePermission(feature,permission)">
                                                                    <i class="la la-trash"></i> Delete
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                        </div>
                                    </ng-container>
                                </m-card>
                            </section>
                        </ng-container>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<!-- edit permissions  -->
<ng-template class="modal text-left" #EditPermisssionContent let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h6 id="myModalLabel23">
                Permissions
            </h6>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" class="p-4" [formGroup]="permissionForm">
            <div class="form-group">
                <label class="form-control-label">
                    Permission Code :</label>
                <input class="form-control" type="text" formControlName="code" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="phone">Permission Name :</label>
                <input class="form-control" type="text" formControlName="name" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="phone">Permission Label :</label>
                <input class="form-control" type="text" formControlName="label" />
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="editPermission()">Update Permission</button>
            <button type="button" class="btn grey btn-outline-secondary" (click)="d('Close modal')">Close</button>

        </div>
    </div>
</ng-template>
<!--/  -->

<!-- edit features -->
<ng-template class="modal text-left" #EditFeatureContent let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h6 id="myModalLabel23">
                Features
            </h6>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" class="p-4" [formGroup]="featureForm">
            <div class="form-group">
                <label class="form-control-label">
                    Features Name :</label>
                <input class="form-control" type="text" formControlName="name" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="phone">Feature Label :</label>
                <input class="form-control" type="text" formControlName="label" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="editFeature()">Edit Feature</button>
            <button type="button" class="btn grey btn-outline-secondary" (click)="d('Close modal')">Close</button>

        </div>
    </div>
</ng-template>
<!--  -->

<!-- Add features -->
<ng-template class="modal text-left" #AddFeatureContent let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h6 id="myModalLabel23">
                Features
            </h6>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" class="p-4" [formGroup]="featureForm">
            <div class="form-group">
                <label class="form-control-label">
                    Features Name :</label>
                <input class="form-control" type="text" formControlName="name" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="phone">Feature Label :</label>
                <input class="form-control" type="text" formControlName="label" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="createFeature()">Create Feature</button>
            <button type="button" class="btn grey btn-outline-secondary" (click)="d('Close modal')">Close</button>

        </div>
    </div>
</ng-template>
<!--  -->

<!-- Add new Permissions -->
<ng-template class="modal text-left" #AddNewPermissionsContent let-c="close" let-d="dismiss">
    <div class="modal-lg">
        <div class="modal-header">
            <h6 id="myModalLabel23">
                Permissions
            </h6>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" class="p-4" [formGroup]="permissionForm">
            <div class="form-group">
                <label class="form-control-label">
                    Permission Code :</label>
                <input class="form-control" type="text" formControlName="name" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="phone">Permission Name :</label>
                <input class="form-control" type="text" formControlName="label" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="phone">Permission Label :</label>
                <input class="form-control" type="text" formControlName="code" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="createPermission()">Create Permission</button>
            <button type="button" class="btn grey btn-outline-secondary" (click)="d('Close modal')">Close</button>

        </div>
    </div>
</ng-template>
<!--  -->