<div class="card" *ngIf="course">
    <ngb-accordion activeIds="static-1" [closeOthers]="true" class="basic-accordation">
        <ngb-panel class="ngb-panel" id="static-{{i+1}}" *ngFor="let module of course.modules;let i=index"
            title="M{{i+1}} - {{module.name|uppercase}}">
            <ng-template ngbPanelContent>
                <ul>
                    <li class="container" *ngFor="let chapter of module.chapters;let i=index">
                        <p>C{{i+1}}: {{chapter.name}}</p>
                        <ul>
                            <li *ngFor="let page of chapter.pages; let i=index">
                                <p><a href="javascript:void(0);"> {{i+1}}. {{page?.name}}</a></p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>