<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Roles And Permissions Management Center</h3>
            </div>
            <div class="content-header-right col-md-4 col-12">
                <div class="d-inline-block float-md-right" ngbDropdown>
                    <button type="button" class="btn mb-1 btn-primary">
                        <i class="la la-plus"></i>Add New Role
                    </button>
                </div>
            </div>
        </div>
        <div class="content-body">

            <!-- Content types section start -->
            <section id="content-types">

                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12">

                        <ng-container *ngFor="let role of rolesAndPermissions.roles; let i = index">
                            <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                                <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                    <ng-container mCardHeaderTitle>
                                        {{role.name}}
                                        <button class="btn btn-outline-primary ml-2"
                                            (click)="EditModel(EditModelContent)">
                                            edit
                                        </button>
                                        <button class="btn btn-outline-primary ml-1"
                                            (click)="manageRolesModel(RoleModelContent,role)">Manage roles</button>
                                    </ng-container>
                                    <!-- <ng-container mCardContent>
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Student Name</th>
                                                        <th>Student Id</th>
                                                        <th>WPM</th>
                                                        <th>Attempts</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let result of typingResults">
                                                        <td>{{result.name}}</td>
                                                        <td>{{result.id}}</td>
                                                        <td>{{result.wpm}}</td>
                                                        <td>{{result.attempts}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <nav aria-label="Page navigation">
                                                <ul
                                                    class="pagination justify-content-center pagination-separate pagination-flat">
                                                    <ngb-pagination [collectionSize]="70"
                                                        [boundaryLinks]="true"></ngb-pagination>
                                                </ul>
                                            </nav>
                                        </div>
                                    </ng-container> -->
                                </m-card>
                            </section>
                        </ng-container>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Edit Model -->
<ng-template class="modal text-left" #EditModelContent let-c="close" let-d="dismiss">
    <div class="modal-lg ">
        <div class="modal-header">
            <h6 id="myModalLabel23">
                <input type="checkbox" [(ngModel)]="isAllBodyChecked" (click)="allBodyChanged()">&nbsp;
                Edit
            </h6>
            <div>
                <button type="button" class="btn grey btn-outline-secondary" (click)="d('Close modal')">Close</button>
                <!-- <button type="button" class="btn btn-outline-primary">Save changes</button> -->
            </div>
        </div>
        <div class="modal-body">
            <input type="text" placeholder="Name">
        </div>
    </div>
</ng-template>
<!-- End of Edit Model -->

<!-- Role Management model -->
<ng-template class="modal text-left" #RoleModelContent let-c="close" let-d="dismiss">
    <div class="modal-lg ">
        <div class="modal-header">
            <h2 id="myModalLabel23">
                Permissions for {{selectedRoleNameForManage}} role.
            </h2>
            <button type="button" class="btn grey btn-outline-secondary" (click)="d('Close modal')">Close</button>
        </div>
        <div class="modal-body">
            <ng-container *ngFor="let feature of featuresAndPermissions">
                <h4>{{feature.label}}</h4>
                <hr>
                <div class="row">
                    <ng-container *ngFor="let permission of feature.permissions">
                        <div class="col-sm-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="customCheck" id="{{permission.code}}"
                                    class="custom-control-input" [(ngModel)]="permission.isAllow"
                                    (change)="changeRolePermission(permission.code,permission.isAllow)">
                                <label for="{{permission.code}}"
                                    class="custom-control-label">{{permission.label}}</label>
                            </div>
                            <!-- <input type="checkbox">
                            <label></label> -->
                        </div>
                    </ng-container>
                </div>
                <br>
            </ng-container>
        </div>
    </div>
</ng-template>
<!-- End of Role Management model -->