<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">
            <!-- Content types section start -->
            <section id="content-types">
                <div class="row">
                    <div class="col-xl-8 col-md-8 col-sm-8">
                        <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                            <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                <ng-container mCardHeaderTitle>
                                    Typing Trainer Summery
                                </ng-container>
                                <ng-container mCardContent>
                                    <div class="card-body">
                                        <!-- dropdown for batch-id and chapter -->
                                        <ng-select [items]="multipleSelectArray" [multiple]="true" bindLabel="item_text"
                                            placeholder="Select Batches" [(ngModel)]="multipleMultiSelect">
                                        </ng-select>

                                        <ng-select [items]="multipleChapterSelectArray" [multiple]="true"
                                            bindLabel="item_text" placeholder="Select Chapters"
                                            [(ngModel)]="multipleChapterMultiSelect" class="m-2">
                                        </ng-select>
                                        <!-- / -->

                                        <!-- table -->
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Student Name</th>
                                                    <th>Student Id</th>
                                                    <th>WPM</th>
                                                    <th>Attempts</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let result of typingResults">
                                                    <td>{{result.name}}</td>
                                                    <td>{{result.id}}</td>
                                                    <td>{{result.wpm}}</td>
                                                    <td>{{result.attempts}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- / -->

                                        <!-- pagination -->
                                        <nav aria-label="Page navigation">
                                            <ul
                                                class="pagination justify-content-center pagination-separate pagination-flat">
                                                <ngb-pagination [collectionSize]="70"
                                                    [boundaryLinks]="true"></ngb-pagination>
                                            </ul>
                                        </nav>
                                        <!-- / -->
                                    </div>
                                </ng-container>
                            </m-card>
                        </section>
                    </div>

                    <!--Cards to show High Scores and Low Scores  -->
                    <div class="col-xl-4 col-md-4 col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">High Scores</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="media-list">
                                        <div class="media" *ngFor="let score of highScorers ">
                                            <a class="media-left" [routerLink]="">
                                                <img class="media-object rounded-circle" src="{{score.image}}"
                                                    alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{score.name}}</h4>
                                                <h6>Max WPM : {{score.maxWpm}}</h6>
                                                <h6>No of attempts :{{score.noOfAttempts}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Low Scores</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="media-list">
                                        <div class="media" *ngFor="let score of lowScorers">
                                            <a class="media-left" [routerLink]="">
                                                <img class="media-object rounded-circle" src="{{score.image}}"
                                                    alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{score.name}}</h4>
                                                <h6>Max WPM : {{score.maxWpm}}</h6>
                                                <h6>No of attempts :{{score.noOfAttempts}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ///// -->
                </div>
            </section>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->