<div class="app-content content">
    <div class="content-wrapper">

        <div class="content-body">

            <!-- Basic Kanban App -->
            <section class="kan" id="kanban-wrapper">

                <div class="row">
                    <div class="col-12 mt-3 mb-1">
                        <h4 class="text-uppercase">Create Course Stucture</h4>
                        <p>Constrain the width of cards via custom CSS, our predefined grid classes, or with custom styles using
                            our grid
                            mixins.</p>
                    </div>
                </div>
                <div class="kanban-container">

                    <!--/ COURSES -->
                    <div data-id="kanban-board-1" data-order="1" class="kanban-board"
                        style="width: 250px; margin-left: 15px; margin-right: 15px;">

                        <header class="kanban-board-header">
                            <div type="text" class="kanban-title-board truncate" contenteditable="false">Courses</div>
                            <button class="kanban-title-button btn btn-default btn-xs" (click)="openAddNewCourseForm()">+ Add New Course</button>
                        </header>
                        <main class="kanban-drag">
                            <div cdkDropListGroup>
                                <div cdkDropList [cdkDropListData]="courses" (cdkDropListDropped)="drop($event)">
                                    <div class="kanban-item" (click)="selectedCourse(i)" *ngFor="let course of courses;let i=index" cdkDrag>{{course.name}}</div>
                                </div>
                            </div>
                            <form class="itemform not-draggable" [hidden]="!isAddNewCourse">
                                <div class="form-group">
                                    <textarea class="form-control add-new-item" [(ngModel)]="courseName" rows="2" autofocus=""
                                        required="" [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                                <div class="form-group"><button type="submit" class="btn btn-primary btn-sm mr-50"
                                    (click)="addNewCourse()">Submit</button><button type="button" id="CancelBtn"
                                    class="btn btn-sm btn-danger" (click)="closeAddNewCourse()">Cancel</button>
                                </div>
                            </form>
                        </main>
                    </div>
                    <!--/ COURSES -->

                    <!--/ MODULES -->
                    <div data-id="kanban-board-2" data-order="1" class="kanban-board"
                        style="width: 250px; margin-left: 15px; margin-right: 15px;">
                        <header class="kanban-board-header">
                            <div type="text" class="kanban-title-board truncate" contenteditable="false">Modules</div>
                            <button *ngIf="selectedCourseIndex!=-1" class="kanban-title-button btn btn-default btn-xs" (click)="openAddNewModuleForm()">+ Add New Module</button>
                        </header>
                        <h5 class="pl-2 pr-2 mt-3 mb-3 text-secondary text-center" *ngIf="selectedCourseIndex==-1">Select course to view modules.</h5>
                        <main *ngIf="selectedCourseIndex!=-1" class="kanban-drag">
                            <div cdkDropListGroup>
                                <div cdkDropList [cdkDropListData]="courses[selectedCourseIndex].modules" (cdkDropListDropped)="drop($event)">
                                    <div class="kanban-item" (click)="selectedModule(i)" *ngFor="let module of courses[selectedCourseIndex].modules;let i=index" cdkDrag>{{module.name}}</div>
                                </div>
                            </div>
                            <h5 class="pl-2 pr-2 mt-3 mb-3 text-secondary text-center" *ngIf="!courses[selectedCourseIndex].modules.length && !isAddNewModule">Ther are no modules in {{courses[selectedCourseIndex].name}} course.</h5>
                            <form class="itemform not-draggable" [hidden]="!isAddNewModule">
                                <div class="form-group">
                                    <textarea class="form-control add-new-item" [(ngModel)]="moduleName" rows="2" autofocus="" required=""
                                        [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                                <div class="form-group"><button type="submit" class="btn btn-primary btn-sm mr-50"
                                        (click)="addNewModule()">Submit</button><button type="button" id="CancelBtn"
                                        class="btn btn-sm btn-danger" (click)="closeAddNewModule()">Cancel</button>
                                </div>
                            </form>
                        </main>
                    </div>
                    <!--/ MODULES -->

                    <!--/ CHAPTERS -->
                    <div data-id="kanban-board-2" data-order="1" class="kanban-board"
                        style="width: 250px; margin-left: 15px; margin-right: 15px;">
                        <header class="kanban-board-header">
                            <div type="text" class="kanban-title-board truncate" contenteditable="false">Chapters</div>
                            <button *ngIf="selectedModuleIndex!=-1" class="kanban-title-button btn btn-default btn-xs"
                                (click)="openAddNewChapterForm()">+ Add New Chapter</button>
                        </header>
                        <h5 class="pl-2 pr-2 mt-3 mb-3 text-secondary text-center" *ngIf="selectedModuleIndex==-1">Select module to view
                            chapters.</h5>
                        <main *ngIf="selectedModuleIndex!=-1" class="kanban-drag">
                            <div cdkDropListGroup>
                                <div cdkDropList [cdkDropListData]="courses[selectedCourseIndex].modules[selectedModuleIndex].chapters"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="kanban-item" (click)="selectedChapter(i)" *ngFor="let chapter of courses[selectedCourseIndex].modules[selectedModuleIndex].chapters; let i = index" cdkDrag>
                                        {{chapter.name}}</div>
                                </div>
                            </div>
                            <h5 class="pl-2 pr-2 mt-3 mb-3 text-secondary text-center"
                                *ngIf="!courses[selectedCourseIndex].modules[selectedModuleIndex].chapters.length && !isAddNewChapter">Ther are no chapters in
                                {{courses[selectedCourseIndex].modules[selectedModuleIndex].name}} module.</h5>
                            <form class="itemform not-draggable" [hidden]="!isAddNewChapter">
                                <div class="form-group">
                                    <textarea class="form-control add-new-item" [(ngModel)]="chapterName" rows="2" autofocus="" required=""
                                        [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                                <div class="form-group"><button type="submit" class="btn btn-primary btn-sm mr-50"
                                        (click)="addNewChapter()">Submit</button><button type="button" id="CancelBtn"
                                        class="btn btn-sm btn-danger" (click)="closeAddNewChapter()">Cancel</button>
                                </div>
                            </form>
                        </main>
                    </div>
                    <!--/ CHAPTERS -->

                    <!--/ PAGES -->
                    <div data-id="kanban-board-2" data-order="1" class="kanban-board"
                        style="width: 250px; margin-left: 15px; margin-right: 15px;">
                        <header class="kanban-board-header">
                            <div type="text" class="kanban-title-board truncate" contenteditable="false">Pages</div>
                            <button *ngIf="selectedChapterIndex!=-1" class="kanban-title-button btn btn-default btn-xs"
                                (click)="openAddNewPageForm()">+ Add New Page</button>
                        </header>
                        <h5 class="pl-3 pr-3 mt-3 mb-3 text-secondary text-center" *ngIf="selectedChapterIndex==-1">Select chapter to view
                            pages.</h5>
                        <main *ngIf="selectedChapterIndex!=-1" class="kanban-drag">
                            <div cdkDropListGroup>
                                <div cdkDropList [cdkDropListData]="courses[selectedCourseIndex].modules[selectedModuleIndex].chapters[selectedChapterIndex].pages"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="kanban-item" (click)="selectedChapter(i)"
                                        *ngFor="let page of courses[selectedCourseIndex].modules[selectedModuleIndex].chapters[selectedChapterIndex].pages; let i = index"
                                        cdkDrag>
                                        {{page.name}}</div>
                                </div>
                            </div>
                            <h5 class="pl-2 pr-2 mt-3 mb-3 text-secondary text-center"
                                *ngIf="!courses[selectedCourseIndex].modules[selectedModuleIndex].chapters[selectedChapterIndex].pages.length && !isAddNewPage">There
                                are no pages in {{courses[selectedCourseIndex].modules[selectedModuleIndex].chapters[selectedChapterIndex].name}} chapter.</h5>
                            <form class="itemform not-draggable" [hidden]="!isAddNewPage">
                                <div class="form-group">
                                    <textarea class="form-control add-new-item" [(ngModel)]="pageName" rows="2" autofocus="" required=""
                                        [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                                <div class="form-group"><button type="submit" class="btn btn-primary btn-sm mr-50"
                                        (click)="addNewPage()">Submit</button><button type="button" id="CancelBtn"
                                        class="btn btn-sm btn-danger" (click)="closeAddNewPage()">Cancel</button>
                                </div>
                            </form>
                        </main>
                    </div>
                    <!--/ PAGES -->

                </div>
            </section>
            <!--/ Basic kanban App -->


            <!-- Page edit with index section start -->
            <section id="sizing">
                <div class="row">
                    <div class="col-12 mt-3 mb-1">
                        <h4 class="text-uppercase">Course View</h4>
                        <p>Constrain the width of cards via custom CSS, our predefined grid classes, or with custom styles using
                            our grid
                            mixins.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8" *blockUI="'projectInfo'; message: 'Loading'">
                        <m-card [options]="options" style="height: 764.5px;" (reloadFunction)="reloadProjectInfo($event)">
                            <ng-container mCardHeaderTitle>
                                Project Info
                            </ng-container>
                            <ng-container mCardBody>
                                <div class="card-text">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </ng-container>
                        </m-card>
                    </div>
                    <div class="col-md-4" *blockUI="'projectInfo'; message: 'Loading'">
                        <m-card [options]="options" style="height: 764.5px;" (reloadFunction)="reloadProjectInfo($event)">
                            <ng-container mCardHeaderTitle>
                                Course Name
                            </ng-container>
                            <ng-container mCardBody>
                                <app-course-index style="width:100%" [course]="courses[selectedCourseIndex]"></app-course-index>
                            </ng-container>
                        </m-card>
                    </div>
                </div>
            </section>
            <!-- Page edit with index section end -->
            
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

