/* .card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */

/* Model z-index */
::ng-deep ngb-modal-window {
    z-index: 2000 !important;
}


::ng-deep .modal-content {
    overflow: auto;
    position: fixed !important;
    top: 0;
    bottom: 0;
    right: 0;
    width: 62%;
}

::placeholder{
    padding: 10px;
}


.lead-card{
    height: auto;
    width: 100%;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px gray;
}

.card-label{
    text-transform: capitalize;
}