<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
            <h1>Create Test</h1>
        </div>
        <div class="content-body">

            <!-- Content types section start -->
            <section id="content-types">

                <div class="row" [formGroup]="testForm">
                    <div class="col-xl-9 col-md-9 col-sm-9" formArrayName="questions">
                        <ng-container *ngFor="let question of questionsArray.controls; let i=index">
                            <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                                <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                    <!-- <ng-container mCardHeaderTitle>
                                    create test
                                </ng-container> -->
                                    <ng-container mCardContent>
                                        <div class="card-body col-md-12">
                                            <div formGroupName="{{i}}">
                                                <div class="form-group">
                                                    <label class="form-control-label">Question</label>
                                                    <textarea rows="4" class="form-control"
                                                        placeholder="Enter question here"
                                                        formControlName="question"></textarea>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-8">

                                                        <label for="form-control-label mr-2">Options</label>
                                                        <button type="button" class="btn btn-outline-primary ml-1"
                                                            (click)="addOption(i)">
                                                            <i class="feather ft-plus"></i>
                                                        </button>

                                                        <div formArrayName="options">
                                                            <div
                                                                *ngFor="let options of getOptionArray(i).controls; let j = index">
                                                                <div formGroupName="{{j}}">
                                                                    <div class="form-group mt-1 row">
                                                                        <div
                                                                            class="col-sm-1 d-flex align-items-center justify-content-center">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                        <div class="col-sm-8">
                                                                            <input class="form-control" type="text"
                                                                                formControlName="option" />
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <button class="btn btn-outline-danger "
                                                                                (click)="remove(j)"> <i
                                                                                    class="la la-close"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group" [formGroup]="testForm">
                                                            <label for="">Question type</label>
                                                            <ng-select [items]="multipleSelectArray" [multiple]="false"
                                                                bindLabel="item_text" bindValue="item_text"
                                                                placeholder="Select Type"
                                                                [(ngModel)]="multipleMultiSelect"
                                                                formControlName="type">
                                                            </ng-select>
                                                        </div>
                                                        <div class="form-group" [formGroup]="testForm">
                                                            <label class="form-control-label">Marks</label>
                                                            <input class="form-control" type="number"
                                                                placeholder="Enter marks">
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="btn btn-primary" (click)=" createTest()">submit</button>


                                            </div>
                                        </div>
                                    </ng-container>
                                </m-card>
                            </section>
                        </ng-container>
                    </div>

                    <!-- Mail Menu -->
                    <div class="col-xl-3 col-md-3 col-sm-3">
                        <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                            <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                <ng-container mCardHeaderTitle>
                                    text
                                </ng-container>
                                <ng-container mCardContent>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-primary " (click)="addQuestion()">
                                            <i class="feather ft-plus"></i> Add Question
                                        </button>
                                    </div>
                                </ng-container>
                            </m-card>
                        </section>
                    </div>

                </div>
            </section>
            <!-- Content types section end -->

        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->