<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Terms &amp; Conditions</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <strong>Terms &amp; Conditions</strong> <p>
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                </p> <p>
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions.
                </p> <p>
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                </p> <div>
                  <p>
                    terms and conditions terms and conditions terms and conditions 
                    terms and conditions terms and conditions terms and conditions 
                    terms and conditions terms and conditions terms and conditions 
                    terms and conditions terms and conditions terms and conditions 
                    terms and conditions terms and conditions terms and conditions 
                    terms and conditions terms and conditions terms and conditions 
                </p> <p></p> <p>
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                </p> <p>
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                </p> <p>
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                </p> <p>
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                </p> <p><strong>Changes to This Terms and Conditions</strong></p> <p>
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                  terms and conditions terms and conditions terms and conditions 
                </p> <p>
                  These terms and conditions are effective as of YYYY-MM-DD
                </p> <p><strong>Contact Us</strong></p> <p>
                  If you have any questions or suggestions about our
                  Terms and Conditions, do not hesitate to contact us
                  at info.mohithit@gmail.com
                </p> <p>
                  This Terms and Conditions page was generated by
                  <!-- <a href="" target="_blank">App Privacy Policy Generator</a></p> -->
              </div>
        </body>
    </html>
      