.nav-item{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.selected{
    background-color: #666ee8;
    border-radius: 4px;
    color: white;
}

.selected a{
    color: white;
}

.content-wrapper{
    padding-top: 0 !important;
}

.email-body{
    border: 1px solid #cacfe7;
    padding: 5%;
    border-radius: 4px;
}

.form-control-position{
    width: 25px;
}

.input-group-prepend{
    width: 96px;
}

.input-group-text{
    width: 100%;
}

.input-group-append{
    width: 50px;
}