.option {
    display: block;
    padding: 15px;
    border-radius: 5px;
}

.option:hover {
    cursor: pointer;
    background-color: lightgray;
}

.timer {
    border: 1px solid gray;
    width: 170px;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: lightslategrey;
    color: #fff;
    margin-left: 15px;

}