<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
            <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
        </div>
        <div class="content-body">

            <!-- Content types section start -->
            <section id="content-types">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-4">
                        <!-- Institute Profile Card -->
                        <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                            <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                <ng-container mCardHeaderTitle>
                                    Institute Profile
                                </ng-container>
                                <ng-container mCardContent>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="main-body">
                                                <div class="row gutters-sm">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div
                                                                    class="d-flex flex-column align-items-center text-center">
                                                                    <img src="{{institute.documents?.logo}}"
                                                                        alt="Institute Logo" class="rounded-circle"
                                                                        width="150">
                                                                    <div>
                                                                        <h4 class="mt-1">
                                                                            {{institute.instituteInfo?.name}}
                                                                        </h4>
                                                                        <p class="text-secondary mb-1"></p>
                                                                        <p class="text-muted font-size-sm">

                                                                        </p>
                                                                        <button class="btn btn-primary">Follow</button>
                                                                        <button
                                                                            class="btn btn-outline-primary ml-1">Message</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </m-card>
                        </section>
                        <!-- End of Student Profile Card -->

                        <!-- Website links -->
                        <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                            <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                <ng-container mCardHeaderTitle>
                                    Website Links
                                </ng-container>
                                <ng-container mCardContent>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="main-body">
                                                <div class="row gutters-sm">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <ul class="list-group list-group-flush">
                                                                <li
                                                                    class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                    <h6 class="mb-0"><svg
                                                                            xmlns="http://www.w4.org/2000/svg"
                                                                            width="24" height="24" viewBox="0 0 24 24"
                                                                            fill="none" stroke="currentColor"
                                                                            stroke-width="2" stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            class="feather feather-globe mr-2 icon-inline">
                                                                            <circle cx="12" cy="12" r="10"></circle>
                                                                            <line x1="2" y1="12" x2="22" y2="12"></line>
                                                                            <path
                                                                                d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                                                            </path>
                                                                        </svg></h6>
                                                                    <span class="text-secondary"><a
                                                                            href="{{institute.socialMediaInfo?.website}}">Website</a></span>
                                                                </li>
                                                                <li
                                                                    class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                    <h6 class="mb-0"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="24" height="24" viewBox="0 0 24 24"
                                                                            fill="none" stroke="currentColor"
                                                                            stroke-width="2" stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            class="feather feather-facebook mr-2 icon-inline text-primary">
                                                                            <path
                                                                                d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
                                                                            </path>
                                                                        </svg></h6>

                                                                    <span class="text-secondary"><a
                                                                            href="{{institute.socialMediaInfo?.facebook}}"
                                                                            target="_blank">Facebook</a></span>
                                                                </li>
                                                                <li
                                                                    class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                    <h6 class="mb-0"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="24" height="24" viewBox="0 0 24 24"
                                                                            fill="none" stroke="currentColor"
                                                                            stroke-width="2" stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            class="feather feather-instagram mr-2 icon-inline text-danger">
                                                                            <rect x="2" y="2" width="20" height="20"
                                                                                rx="5" ry="5"></rect>
                                                                            <path
                                                                                d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z">
                                                                            </path>
                                                                            <line x1="17.5" y1="6.5" x2="17.51"
                                                                                y2="6.5"></line>
                                                                        </svg></h6>
                                                                    <span class="text-secondary"><a
                                                                            href="{{institute.socialMediaInfo?.instagram}}"
                                                                            target="_blank">Instagram</a></span>
                                                                </li>
                                                                <li
                                                                    class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                    <h6 class="mb-0"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="24" height="24" viewBox="0 0 24 24"
                                                                            fill="none" stroke="currentColor"
                                                                            stroke-width="2" stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            class="feather feather-twitter mr-2 icon-inline text-info">
                                                                            <path
                                                                                d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                                                            </path>
                                                                        </svg></h6>
                                                                    <span class="text-secondary"><a
                                                                            href="{{institute.socialMediaInfo?.twitter}}">Twitter</a></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </m-card>
                        </section>
                        <!-- End of Website links -->

                    </div>

                    <div class="col-xl-8 col-md-8 col-sm-8">

                        <!-- Institute Details -->
                        <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                            <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                <ng-container mCardHeaderTitle>
                                    Institute Details
                                    <button class="btn btn-outline-primary ml-1" (click)="edit()">edit</button>
                                </ng-container>
                                <ng-container mCardContent>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="main-body">
                                                <div class="row gutters-sm">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <h6 class="mb-0">Institute Name :</h6>
                                                                    </div>
                                                                    <div class="col-sm-8 text-secondary">
                                                                        {{institute.instituteInfo?.name}}
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <h6 class="mb-0">Email :</h6>
                                                                    </div>
                                                                    <div class="col-sm-8 text-secondary">
                                                                        {{institute.instituteInfo?.email}}
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <h6 class="mb-0">Mobile Number:</h6>
                                                                    </div>
                                                                    <div class="col-sm-8 text-secondary">
                                                                        {{institute.instituteInfo?.phone}}

                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <h6 class="mb-0"> Prefix :</h6>
                                                                    </div>
                                                                    <div class="col-sm-8 text-secondary">
                                                                        {{institute.instituteInfo?.prefix}}
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </m-card>
                        </section>
                        <!-- end of Institute Details -->

                        <!-- Institute Addrress Details -->
                        <section id="image-grid" class="card" *blockUI="'imageGallery'; message: 'Loading'">
                            <m-card [options]="imageOptions" (reloadFunction)="reloadImageGallery(  )">
                                <ng-container mCardHeaderTitle>
                                    Institute Address Details
                                    <button class="btn btn-outline-primary ml-1" (click)="edit()">edit</button>
                                </ng-container>
                                <ng-container mCardContent>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="main-body">
                                                <div class="row gutters-sm">
                                                    <div class="col-md-12">
                                                        <div class="card mb-3">
                                                            <div class="card-body"
                                                                *ngFor="let institute of institute.addressDetails?.Branches">
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <h6 class="mb-0">Present Address :</h6>
                                                                    </div>
                                                                    <div class="col-sm-8 text-secondary">
                                                                        {{institute.houseNo}},
                                                                        {{institute.city}},
                                                                        {{institute.mandal}},
                                                                        {{institute.district}},
                                                                        {{institute.state}},
                                                                        {{institute.country}},
                                                                        {{institute.pincode}}
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <h6 class="mb-0">Perminent Address :</h6>
                                                                    </div>
                                                                    <div class="col-sm-8 text-secondary">
                                                                        {{institute.houseNo}},
                                                                        {{institute.city}},
                                                                        {{institute.mandal}},
                                                                        {{institute.district}},
                                                                        {{institute.state}},
                                                                        {{institute.country}},
                                                                        {{institute.pincode}}

                                                                    </div>
                                                                </div>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </m-card>
                        </section>
                        <!--End of Institute Addrress Details -->

                    </div>
                </div>
            </section>
            <!-- Content types section end -->

        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->